@font-face {
    font-family: 'Intro';
    src: url('static/intro.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    background: #151028;
    background-image: url('fon.jpg'); /* Добавляем фон */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Предотвращаем прокрутку */
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@keyframes glow {
    0% { box-shadow: 0 7.5px 15px rgba(0,0,0,0.125), 0 0 20px 10px #ffa500; }
    25% { box-shadow: 0 7.5px 15px rgba(0,0,0,0.125), 0 0 20px 10px #ff5050; }
    50% { box-shadow: 0 7.5px 15px rgba(0,0,0,0.125), 0 0 20px 10px #50ff50; }
    75% { box-shadow: 0 7.5px 15px rgba(0,0,0,0.125), 0 0 20px 10px #5050ff; }
    100% { box-shadow: 0 7.5px 15px rgba(0,0,0,0.125), 0 0 20px 10px #ffa500; }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a101e;
    border-radius: 30px;
    padding: 20px;
    animation: glow 8s infinite linear;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 112.5px);
    grid-template-rows: repeat(5, 112.5px);
    gap: 17.5px;
}

.square {
    background-color: #238fa9;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease;
}

.square.open {
    transform: scale(1.1); /* Увеличение при открытии */
    transition: transform 0.3s ease-out;
}

button {
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    font-size: 45px;
    padding: 40px 60px;
    border-radius: 62.5px;
}

button:hover, button:focus {
    transform: translateY(-5px);
    transition: transform 0.2s ease-out, background-color 0.3s ease;
}

button:active {
    transform: translateY(2.5px);
    transition: transform 0.2s ease-out;
}
#trap-count-label {
    margin-top: 50px;
    font-size: 70px;
    color: white;
}

#counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.count-display {
    width: 87.5px;
    text-align: center;
    font-size: 87.5px;
    color: white;
    margin: 0 30px;
}

.icon {
    cursor: pointer;
    width: 125px;
    height: 125px;
}
.star {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: scale(0);
}

.star.visible {
    opacity: 1;
    transform: scale(1);
}
#modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px; /* Подогнано под размеры слайдера */
    height: 900px; /* Подогнано под размеры слайдера */
    background: white;
    padding: 50px;
    border-radius: 125px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    visibility: hidden; /* Скрыто по умолчанию */
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.5s, visibility 0.5s; /* Плавная транзиция для opacity и visibility */
}

#modal.show {
    visibility: visible;
    opacity: 1;
}
.close-button {
    position: absolute;
    top: 30px;
    right: 55px;
    font-size: 85px;
    color: black;
    cursor: pointer;
}

button {
    font-family: 'Intro';
    margin-top: 50px;
    padding: 40px 60px;
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(to right, #6e48aa, #9d50bb);
    border: none;
    border-radius: 62.5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;

    /* Анимация дыхания */
    animation: pulse 2s infinite;
}

button:hover {
    background-image: linear-gradient(to right, #9d50bb, #6e48aa);
    box-shadow: 0 12.5px 37.5px rgba(0, 0, 0, 0.75);
}

button:active {
    box-shadow: 0 5px 12.5px rgba(0, 0, 0, 0.25);
    transform: scale(0.98);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 12.5px 37.5px rgba(0, 0, 0, 0.75);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }
}

.animated-text {
    font-size: 60px;
    color: white;
    font-family: 'Intro';
    text-align: center;
    margin-bottom: 50px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.animated-text.show {
    opacity: 1;
}

.nogocio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Intro';
    font-size: 90px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 50px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.nogocio img {
    width: 100px;
    height: 125px;
    margin-right: 25px;
}

.nogocio.show {
    opacity: 1;
    animation: text-glow 2s infinite;
}
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}